.section1{
    padding: 3rem;
    /* background-image: url('../../assets/bg2.jpg'); */
    background-color: rgb(24, 26, 27);;
}

.section1-title{
    font-size: 1.5rem;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
}

p{
    color: white;
}